#Scope settings
#Mon Dec 01 15:01:23 IST 2025
scope.singleShot=true
scope.source.0.color=-65536
scope.source.0.enable=true
scope.source.0.gain=1.0
scope.source.0.name=motor.startup.demodAmplitudeAccum.neg.x16.hi
scope.source.0.offset=0.0
scope.source.0.visible=true
scope.source.1.color=-16776961
scope.source.1.enable=true
scope.source.1.gain=1.0
scope.source.1.name=motor.startup.demodAmplitudeAccum.pos.x16.hi
scope.source.1.offset=0.0
scope.source.1.visible=true
scope.source.2.color=-65536
scope.source.2.enable=true
scope.source.2.gain=3.0518E-4
scope.source.2.name=motor.idqCmd.d
scope.source.2.offset=0.0
scope.source.2.visible=false
scope.source.3.color=-16776961
scope.source.3.enable=true
scope.source.3.gain=3.0518E-4
scope.source.3.name=motor.idq.d
scope.source.3.offset=0.0
scope.source.3.visible=false
scope.source.4.color=-16776961
scope.source.4.enable=false
scope.source.4.gain=0.19913
scope.source.4.name=motor.estimator.zsmt.output.omegaElectrical
scope.source.4.offset=0.0
scope.source.4.visible=false
scope.source.5.color=-16777216
scope.source.5.enable=true
scope.source.5.gain=1.0
scope.source.5.name=motor.startup.demodAmplitudeAccum.sampleCount
scope.source.5.offset=0.0
scope.source.5.visible=true
scope.source.6.color=-65281
scope.source.6.enable=true
scope.source.6.gain=1.0
scope.source.6.name=motor.startup.state
scope.source.6.offset=0.0
scope.source.6.visible=false
scope.source.7.color=-16776961
scope.source.7.enable=false
scope.source.7.gain=1.0
scope.source.7.name=motor.estimator.zsmt.output.thetaElectrical
scope.source.7.offset=0.0
scope.source.7.visible=false
scope.stf=5
scope.trigger.channel=6
scope.trigger.delay=0
scope.trigger.edge=RISING
scope.trigger.level=1.0
scope.trigger.mode=NORMAL
